<div class="container">
    <div class="row">
        <div id="htmlData">
            <h1 style="text-align: center;"> SERVICIO NACIONAL DE APRENDIZAJE SENA</h1>
            <h2 style="text-align: center;"> REGIONAL CAUCA </h2>
            <h1 style="padding-top: 4pt; text-align: center;">CAPACIDAD DE ENDEUDAMIENTO PARA CREDITOS CON TERCEROS
            </h1>

            <div class="container1">
                <ul>
                    <li>FECHA ELABORACIÓN:
                        <label></label>
                        <span>8 de marzo de 2023</span>
                    </li>
                    <li>
                        <label>CÉDULA:</label>
                        <span>12.988.009</span>
                    </li>
                    <li>
                        <label>NOMBRE FUNCIONARIO:</label>
                        <span>FONDOS DE EMPLEADOS PRESTAMO</span>
                    </li>
                    <li>
                        <label>ENTIDAD SOLICITANTE:</label>
                        <span>LIBRANZAS ENTIDADES FINANCIERAS</span>
                    </li>
                    <li>
                        <label>CUOTA SOLICITADA:</label>
                        <span>TEZ GETIAL SEGUNDO BUENAVENTURA</span>
                    </li>
                    <li>
                        <label>TIENE CAPACIDAD PAGO:</label>
                        <span>COOP. ASOCIADOS LTDA - LIBRANZA</span>
                    </li>
                </ul>


                <ul>
                    <li>DEVENGADOS FACTORES FIJOS</li>
                    <li>
                        <label>ASIGNACION MENSUAL</label>
                        <span> 2.025.602</span>
                    </li>
                    <li>
                        <label>SUBSIDIO DE ALIMENTACION</label>
                        <span>232.000</span>
                    </li>
                    <li>
                        <label>PRIMA TECNICA NO FACTOR SALARIO PRIMA TECNICA FACTOR SALARIO</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>PRIMA DE LOCALIZACION</label>
                        <span>0</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label>TOTAL DEVENGADOS</label>
                        <span>2.257.602</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        MENOS DEDUCCIONES DE LEY
                    </li>
                    <li>
                        <label>APORTE PENSION</label>
                        <span>116.000</span>
                    </li>
                    <li>
                        <label>APORTE SALUD</label>
                        <span>116.000</span>
                    </li>
                    <li>
                        <label>FONDO SOLIDARIDAD</label>
                        <span>0</span>
                    </li>
                    <li>
                        FONDO DE SUBSISTENCIA LEY 797/2003
                    </li>
                    <li>

                        <label>RETENCION EN LA FUENTE</label>
                        <span>0</span>
                    </li>
                    <li><label>TOTAL DEDUCCIONES DE LEY</label>
                        <span>232.000</span>
                    </li>
                    <li><label>SALARIO NETO</label>
                        <span> 2.025.602</span>
                    </li>
                </ul>
                <ul>
                    <li><label>CAPACIDAD DE PAGO 50% DEL SALARIO NETO (LEY 1527 / 2012)</label>
                        <span>1.012.801</span>
                    </li>
                </ul>
                <ul>
                    <li><label>OTRAS DEDUCCIONES DE NOMINA</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>EMBARGO ALIMENTOS</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>EMBARGO CIVIL</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>PRESTAMO DE VIVENDA</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>SEGURO DE INCENDIO (VIVIENDA)</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>SEGURO DE VIDA (VIVIENDA)</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>LIBRANZA SERVICIO MEDICO SENA</label>
                        <span>0</span>
                    </li>
                    <li>
                        <label>AHORRO FONDO DE VIVIENDA</label>
                        <span>247.992</span>
                    </li>
                    <li>
                        <label>COOPERATIVAS AHORRO COOPERATIVAS PRESTAMO</label>
                        <span> 761 123</span>
                    </li>
                    <li>
                        <label>FONDOS DE EMPLEADOS AHORRO</label>
                        <span> 202.560</span>
                    </li>
                    <li> O
                        <label>FONDOS DE EMPLEADOS PRESTAM</label>
                        <span> 158.845</span>
                    </li>
                    <li>
                        <label>LIBRANZAS ENTIDADES FINANCIERAS</label>
                        <span> 05</span>
                    </li>
                    <li>
                        <label> PREVENCION EXEQUIAL</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label> MEDICINA PREPAGADA</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label>AHORRO VOLUNTARIO PENSION</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label>AFC AHORRO FONDO DE LA CONSTRUCCION SINDICATOS</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label>AHORRO VOLUNTARIO PENSION</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label> PRESTAMO CALAMIDAD DOMESTICA</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label>SERVICOS EXEQUIALES</label>
                        <span> 0</span>
                    </li>
                    <li>
                        <label>OTROS DESCUENTOS</label>
                        <span> 0</span>
                    </li>
                    <li><label>TOTAL OTRAS DEDUCCIONES DE NOMINA</label>
                        <span> 1.370.520</span>
                    </li>
                </ul>
                <ul>
                    <li><label>CAPACIDAD DE PAGO DISPONIBLE</label>
                        <span> -357.719</span>
                    </li>
                    <li>REFINANCIA DEUDA:</li>
                    <li>OBSERVACIONES:</li>
                    <li>Vo. Bo. Salarios</li>
                    <li>Autoriza Coordinador Grupo Regional Gestion del Talento Humano</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>