<div class="container">
  <div class="row">
    <div  id="htmlData">
      <div style=" font-weight: bold; " class="titulo">
        <h2> <b>SERVICIO NACIONAL DE APRENDIZAJE</b></h2>
        <H2><strong>SENA</strong></H2>
        <H3><strong>REGUIONAL CAUCA</strong></H3>
      </div>
      <div style=" text-decoration: underline; font-weight: bold;   " class="subtitulo">
        <P> <strong> CAPACIDAD DE ENDEUDAMIENTO PARA CREDITOS CON PRIMA DE
            NAVIDAD EMPLEADOS PUBLICOS</strong></P>
      </div>
      <div style="display: flex; font-weight: bold;  ">
        <div class="informacion">
          FECHA ELABORACIÓN: <br>
          CÉDULA: <br>
          NOMBRE FUNCIONARIO: <br>
          ENTIDAD SOLICITANTE: <br>
          CUOTA SOLICITADA: <br>
          TIENE CAPACIDAD PAGO:

        </div>
        <div style="margin-left: 20%;">
          8 de marzo de 2023 <br>
          1.031.133.603 <br>
          BELTRAN PARRA JEISSON ANDRES <br>
          COOPESENA <br>
          $ 1.623.432 <br>
          NO
        </div>
      </div>
      <div>
        <h3>DEVENGADOS FACTORES FIJOS</h3><br>
        <dir style="display: flex; font-weight: bold;  ">
          <p>
            ASIGNACION MENSUAL<br>
            SUBSIDIO DE ALIMENTACION<br>
            PRIMA TECNICA FACTOR SALARIO<br>
            PRIMA DE LOCALIZACION<br>

          </p>
          <div style="margin-left: 20%;">
            <br><br>
            232.000,00
            0
            0
          </div>

        </dir>
        --------------------------------------------------------------------------------------------------------------
        <div style="display: flex; font-weight: bold;">

          <h3>TOTAL DEVENGADOS</h3>

          <div style="margin-left: 20%;">
            232.000
          </div>
        </div>
        --------------------------------------------------------------------------------------------------------------
        --------------------------------------------------------------------------------------------------------------
      </div>
      <div style="display: flex; font-weight: bold;  ">
        <div class="informacion">
          <h3>MENOS NOMINA</h3>
          EMBARGO ALIMENTOS <br>
          EMBARGO CIVIL <br>
          LIBRANZA SERVICIO MEDICO SENA <br>
          AHORRO FONDO DE VIVIENDA<br>
          COOPERATIVAS AHORRO <br>
          COOPERATIVAS PRESTAMO <br>
          FONDOS DE EMPLEADOS AHORRO <br>
          FONDOS DE EMPLEADOS PRESTAMO <br>
          LIBRANZAS ENTIDADES FINANCIERAS <br>
          OTROS DESCUENTOS
          :

        </div>
        <div style="margin-left: 20%;">
          <br><br>
         0<br>
         0<br>
         0<br>
         <br  g >
         0<br>
         0<br>
         0<br>
         0<br>
         0<br>
         0<br>
        </div>
      </div>
      --------------------------------------------------------------------------------------------------------------

      <div style="display: flex; font-weight: bold;  ">
        <div class="informacion">
        <h3>TOTAL DEDUCCIONES</h3> <br>
         </div>
        <div style="margin-left: 20%;">
          bariable de bakent<br>
        </div>
      </div>
      --------------------------------------------------------------------------------------------------------------
      --------------------------------------------------------------------------------------------------------------
      <div style="display: flex; font-weight: bold;  ">
        <div class="informacion">
          <h3>SALIARIO NETO</h3> <br>
        </div>
        <div style="margin-left: 20%;">
          NUMEROS DE BAKENT
        </div>
      </div>

      <p>OSERVACION: ESTA CAPASIDAD SE PODRIA VER AFECTADA POR ENBARGOS DE PRESTARSE EL CASO </p>
      --------------------------------------------------------------------------------------------------------------
      <p>Vo.Bo Coordinador Grupo de Gestion del Talento Humano </p>



    </div>


  </div>
</div>


<div>
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Descargar PDF</button>
</div>
