<div class="modal-body">
    <div class="card-header">
      <strong>Cargar archivo</strong>
    </div>
    <div class="card-body">
  
      <form (submit)="importarDocumetosMora($event)">
        <div class="custom-input-file">
        <input id="custom-input-file" type="file" name="documento">
      </div>
      <div class="card-footer">
        <button  [disabled]="cargandoArchivo"
        class="btn btn-sm btn-warning"
        type="submit">
        <i class="fa fa-arrow-up  "></i> Importar
        </button>
        <!-- <button type="reset" class="btn btn-sm btn-success" (click)="ejecutarProcedimiento()">
          <i class="fa fa-cogs "></i>
          Ejecutar Procedimiento
        </button> -->
  
        <!-- <button  type="reset" class="btn btn-sm btn-primary"   download (click)="downloadReporte()">
          <i class="fa fa-file-excel-o "></i>
          Generar Reporte
        </button>  -->
      </div>
      </form>
     <div>
  
      </div>
    </div>
  </div>
  <!-- <progress [value]="progreso" max="1000"></progress> -->
  