<div class="modal-body">
    <div class="card-header">
      <strong>Cargar archivo</strong>
    </div>
    <div class="card-body">
  
      <form (submit)="importarDocumentosMora($event)">
        <div class="custom-input-file">
        <input id="custom-input-file" type="file" name="documento" required>
      </div>     
      <div class="card-footer">
        <button  [disabled]="cargandoArchivo"
        class="btn btn-sm btn-warning"
        type="submit">
        <i class="fa fa-arrow-up  "></i> Importar
        
      </button>
       <br>
       <br>
      <button class="btn btn-sm btn-danger" (click)="refreshPage()" >Cancelar</button>

        <progress class="progress-bar" [value]="progreso" max="50"></progress> 
      </div>
      </form>
     <div>
      
      </div>
    </div>
  </div>
  
  
  